:root {
    --green: #00ff00;
	--purple: #C801AC;
}

@font-face {
    font-family: MyFont;
    src: url(fonts/mingliu.ttc);
}

html, body {
    cursor: url(img/cursor/cursor_open.png), auto;
    min-height: 100vh;
}

html:active, body:active {
    cursor: url(img/cursor/cursor_closed.png), auto;
}

body {
    font-family: MyFont;
    margin: 0;
    padding: 20px;
    color: var(--green);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/bg.png);
    background-repeat: repeat;
    overflow: hidden;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url(./img/Divine_Light_Border.webp) no-repeat center;
    background-size: 100vw 100vh;
    pointer-events: none;
}

#header {
    flex-shrink: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
	background: radial-gradient(ellipse, rgba(0, 255, 0, 1) 0%, rgba(0, 255, 0, 0) 70%);
	width: 90vw;
	border-radius: 50px;
	color: var(--purple);
    transition: transform 0.2s ease;
}

#header:hover {
    transform: scale(1.05,1.05);
}

#title {
    font-size: 50px;
}

#content {
    margin: auto;
    justify-content: center;
    text-align: center;
	display: none;
}

#buttons {
    margin: auto;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin: 10px auto;
    border: white solid 4px;
    box-sizing: border-box;
    width: 50vw;
	background-color: var(--green);
	color: white;
}

.btn-start {
    margin: 10px auto;
    box-sizing: border-box;
    width: 10vw;
    height: 10vw;
    filter: saturate(5);
    transition: transform 0.2s ease, filter 0.2s ease;
    cursor: url(img/cursor/cursor_open.png), auto;
}

.btn-start:hover {
    transform: scale(1.1,1.1);
	filter: saturate(1);
}

#status-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.status-box {
    background-color: var(--purple);
    border: 3px solid var(--green);
    padding: 10px 20px;
    min-width: 150px;
    text-align: center;
}

.status-label {
    margin: 0;
    font-size: 14px;
    color: white;
    text-decoration: underline;
}

#mode-display, #timer-display {
    margin: 5px 0 0 0;
    font-size: 28px;
    color: var(--green);
    font-weight: bold;
}
/* Játéktér */

#game-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    
    gap: 10px;
    width: 60vw;
    max-width: 1600px;
    margin: 20px auto;
}

.card {
    aspect-ratio: 1 / 1; 
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.card-back {
    z-index: 2;
}

.card-front {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.disabled-cards {
    pointer-events: none;
}
#game-board.locked .card-back {
    cursor: url(img/cursor/cursor_open.png), auto !important;
}
/*Tooltips*/
[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--purple);
    color: var(--green);
    padding: 8px 15px;
    border: 3px solid var(--green);
    font-size: 20px;
    white-space: nowrap;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.start-wrapper::after {
    bottom: 100%;
}
#header::after {
    top: 110%;
}
[data-tooltip]:hover::after {
    opacity: 1;
}
.start-wrapper {
    display: inline-block;
    position: relative;
}

.btn {
    transition: width 0.2s ease;
}

.btn:hover {
    width: 60vw !important;
}

/* Az aktív gomb stílusa */
.active-mode {
    background-color: white !important;
    color: var(--green) !important;
    border: var(--green) 4px solid !important;
    width: 60vw !important;
}